html, body {
    height: 100%;
    margin: 0;
    font-family: 'Lato', sans-serif;
  }
  
  

  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #f0f0f0;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px; /* Adjusted width for the form */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #dff9fb;
  }
  
  .login-form h2 {
    color: tomato;
    margin-bottom: 20px;
  }
  
  .login-form div {
    margin-bottom: 15px;
    width: 100%; /* Ensure the div wrapper spans the full form width */
  }
  
  .login-form label {
    display: block;
    margin-bottom: 5px;
    color: black;
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    margin: 0; /* Remove any margins */
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box; /* Ensure padding and borders are included in the width */
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    background-color: tomato;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px; /* Add a margin to separate button from input */
  }
  
  .login-form button:hover {
    background-color: darkred;
  }
  